{% extends 'myapp/master.html' %}

{% block title %}home{% endblock %}
{% block main %}
    <div class="row">
        {%for i in val %}
  <div class="col-sm-3">
    <div class="thumbnail">
      <img src="{{ i.img }} " width="500" height="200" alt="No Image Found">
      <div class="caption">
          <h4><bold>{{i.city }}</bold></h4>
        <h3>{{i.loc}}</h3>
        <p>{{i.desc}}</p>
         <p>Rs&nbsp{{i.price}}</p>

        <p><a href='{% url 'myapp:book' %}' class="btn btn-primary" role="button">Book</a>
         <a href='{% url "myapp:home" %}' class= "btn btn-default" role="button">Home</a>
          </p>

         </div>

    </div>
  </div>
    {% endfor %}
</div>




{% endblock %}